.cours_page{margin-right: 10px;
    position: absolute;
}
.competenc_page{position: absolute;}
.group_page{position: absolute;}
.tabt{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    background-color: rgb(196, 211, 238);
}
.tabb{
  
    text-align: center;
    font-size: 18px;

}
th{
    padding-top: 10px;
    padding-bottom: 10px;
}
.title{margin-left: 40px;}
table{
    
    margin: 20px;
   padding: 10px;
}
.add,.del {
    
margin-left: 10px;

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30%;
    background: #1b7dce;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow .4s ease;  
    
}
.add:hover,.del:hover {
    width: 40%;
    height: auto;
    background: #3baee4;
    transition: 0.3s ;
}
#manu{
    opacity: 1;
}
.page-wrap{
    opacity: 1;
    align-items: center;
}
.form2{
    position: fixed;
    z-index: -1;
    opacity: 0;
}
.recours{opacity: 0;}